<h2>Paste appraisal here: </h2>
    <form>
        <div class="form-group">
                <textarea class="form-control"
                          name="message"
                          rows="10"
                          id="field_message"
                          [(ngModel)]="additionalRaw" required></textarea>
        </div>
        <p>
            <button class="btn btn-primary" (click)="executeAppraisal()" >
                Evaluate
            </button>
            <button class="btn btn-danger" (click)="clearAppraisal()" >Clear</button>
        </p>
    </form>
    <h1>Sell to Buyback value: {{output|number:'1.2-2'}} isk</h1>
    <h1>Rate: {{totalfeepct|number:'1.1-1'}}%</h1>
    <hr>
    <h3>Buy from Buyback value: {{buyfrombuyback|number:'1.2-2'}} isk</h3>
    <h3>Rate: {{buyfeepct|number:'1.1-1'}}%</h3>
