
<div class="container">
<div class="row">
<div class="col-md">
    <h2>Data Entry:</h2>
    <form>
        <div class="form-group">
            <label for="evepraisal_link">Paste evepraisal.com here link here:</label>
            <input type="text" class="form-control" aria-describedby="evepraisal_help"  id="evepraisal_link" name="evepraisal_link" [(ngModel)]="evepraisal_link"/>
            <small id="evepraisal_help" class="form-text text-muted">Remember to set trade hub to Amarr</small>
        </div>
            <button class="btn btn-primary" (click)="executeAppraisal()" >
                Evaluate
            </button>
            <button class="btn btn-secondary" (click)="clearAppraisal()" >Clear</button>
    </form>
</div>

<div class="col-md">
    <h2>Appraisal Total:</h2>
    <p>Sell to Buyback value: {{output|number:'1.2-2'}} isk<br />Effective Rate: {{totalfeepct|number:'1.1-1'}}%</p>
</div>
</div>
</div>



<!--    <h3>Buy from Buyback value: {{buyfrombuyback|number:'1.2-2'}} isk</h3>
    <h3>Rate: {{buyfeepct|number:'1.1-1'}}%</h3>
    <hr> -->

<div class="container">
<h2>Itemized Appraisal:</h2>
<table class="table table-striped table-dark">
  <tr>
    <th scope="col"></th>
    <th scope="col">QTY</th>
    <th scope="col">Name</th>
    <th scope="col">Unit sell to BB</th>
    <th scope="col">Sell %</th>
<!--    <td>Unit buy from BB</td>
    <td>Buy %</td> -->
    </tr>
  <tr *ngFor="let item of items">
    <td><img [src]=" 'https://image.eveonline.com/Type/'+item.typeID + '_32.png' " /> </td>
    <td>{{item.quantity}}</td>
    <td>{{item.typeName}}</td>
    <td>{{item.prices.buy.max*buybackpct-item.typeVolume*iskperm3|number:'1.2-2'}}</td>
    <td>{{(item.prices.buy.max*buybackpct-item.typeVolume*iskperm3)/item.prices.buy.max*100|number:'1.1-1'}}%</td>
<!--    <td>{{item.prices.buy.max-item.typeVolume*iskperm3|number:'1.2-2'}}</td>
    <td>{{(item.prices.buy.max-item.typeVolume*iskperm3)/item.prices.buy.max*100|number:'1.1-1'}}%</td> -->
  </tr>
</table>
</div>
